name: Build

on:
  workflow_call:
    inputs:
      registry:
        required: false
        type: string
        default: 'docker.io'
      image-name:
        required: false
        type: string
        default: ${{ github.repository }}
      image-version:
        required: false
        type: string
        default: 'latest'
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_API_TOKEN:
        required: true

jobs:
  docker-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_API_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.image-name }}:${{ inputs.image-version }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
