name: Build

on:
  workflow_call:
    inputs:
      registry:
        required: false
        type: string
        default: 'docker.io'
      registry_namespace:
        required: false
        type: string
        default: 'eclipseecsp'
      image-name:
        required: false
        type: string
        default: ''
      image-tag:
        required: false
        type: string
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_API_TOKEN:
        required: true

jobs:
  docker-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_API_TOKEN }}

      - name: Get image name
        id: image_name
        run: |
          if [ -n "${{ inputs.image-name }}" ]; then
            echo "name=${{ inputs.image-name }}" >> $GITHUB_OUTPUT
          else
            echo "name=${GITHUB_REPOSITORY#*/}" >> $GITHUB_OUTPUT
          fi

      # Step to extract metadata (tags, labels) for the Docker image.
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.7.0
        with:
          images: ${{ inputs.registry }}/${{ inputs.registry_namespace }}/${{ steps.image_name.outputs.name }}
          tags: |
           type=semver,pattern={{version}},value=${{ inputs.image-tag }}         

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
